.App {
  text-align: center;
  background-color: rgba(232, 198, 210, 0.681);
  height: 750px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-brand {
  color: rgb(255, 0, 0);
  font-size: 28px;
  font-weight: bold;
}
.navbar-nav {
  width: 100%;
  justify-content: inherit;
  padding-left: 75%;
}

.nav-link {
  font-size: x-large;
  font-weight: bolder;
}
.img-container {
  width: 10%;
}
.img {
  width: 100%;
}
